// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//SCSS
.main {
    font-family: 'Roboto', sans-serif;
}
.content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
}
.calendar {
    &__arrow{
        font-size: 20px;
        user-select: none;
        cursor: pointer;
    }
    &__item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 0 20px 0;
    }
	&__days {
        display: flex;
        flex-direction: row;
	}
    &__month{
        text-align: center;
        font-size: 20px;
        padding: 0 10px;
        user-select: none;
    }
    &__year{
        text-align: center;
        font-size: 20px;
        padding: 0 10px;
        user-select: none;
    }
	&__day {
        user-select: none;
        padding: 5px;
        margin: 0 5px 0 0;
        display: block;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
        font-size: 20px;
	}
}

._today{
    background-color: rgb(255, 0, 0);
    color: #fff;
}